base_url = "https://lukoktonos.com"
title = "Luke Osborne"
description = "Luke Osborne's personal website"
compile_sass = false
build_search_index = false
minify_html = true
feed_filenames = ["atom.xml"]

taxonomies = [{ name = "tags" }]

[extra]
github_url = "https://github.com/lukoktonos"
repo_url = "https://github.com/lukoktonos/lukoktonos.com"
